<ion-view cache-view="false" title="{{pageTitle}}">
	<ion-nav-buttons side="left" >
		<a ng-click="cancel()" class="back-text detail-back"><i class="ion-chevron-left"></i></a>
	</ion-nav-buttons>

	<ion-content class="has-header forget-pass">
		<div class="list create-fld">
			<label class="item item-input">
				<!-- <span class="input-label address-label">HOST&nbsp;&nbsp;&nbsp;&nbsp;https://</span> -->
				<!-- <span class="input-label">username</span> -->
				<input type="text" ng-model="user.username" placeholder={{"username"|translate}}>
			</label>
			<!-- <label class="item item-input">
			  <span class="input-label">Viewer Host</span>
			  <input type="text" ng-model="settings.viewerhost">
			</label> -->
		</div>
		<div class="help-text">
			<span><center>Please enter your Username/Email id and submit to receive an email with instructions to reset your password.</center></span>
		</div>
		<div class="padding" style="text-align:center;">
			<button class="btn-primary" ng-click="sendEmail()">Submit<ion-spinner icon="spiral" ng-if="loading"></ion-spinner></button> &nbsp;
			<a ng-click="cancel()" class="cancel-btn">Cancel</a>
		</div>
		<div class="row" ng-if="emailSent">
            <div class="list list-inset col col-100">
                <div class="item alert-info button-full">
                    {{successMessage}}
                </div>
            </div>
        </div>
        <div class="row" ng-if="showError">
            <div class="list list-inset col col-100">
                <div class="item alert-danger button-full">
                    {{errorMessage}}
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>