<div class="backdrop" ng-class="{visible: loading, active: loading}">
</div>
<ion-view>
	<ion-content class="forget-pass">
		<div style="padding-left:15px;">
			<span><h4>Enter new password</h4></span>
		</div>
		<div class="list">
			<label class="item item-input">
				<input type="password" placeholder="New password" ng-model="password.newpassword">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Confirm password" ng-model="password.confirm">
			</label>
		</div>
		<div style="text-align:center;">
			<button class="btn-primary" ng-click="updatePassword()"> {{"update"|translate}} 		<ion-spinner icon="spiral" ng-show="loading"></ion-spinner></button>
		</div>
	</ion-content>
</ion-view>