<div class="backdrop" ng-class="{visible: loading, active: loading}"></div>
<ion-view cache-view="false" view-title="{{pageTitle}}">
    <ion-nav-buttons side="left" >
        <a ng-click="cancel()" class="button button-light button-clear no-animation">
          <i class="ion-chevron-left"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="forget-pass">
        <div class="passwd-sub-heading">
            <span><h4>{{'change.password' | translate}}</h4></span>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="password" placeholder="{{'current.password' | translate}}" ng-model="password.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="{{'new.password' | translate}}" ng-model="password.newpassword">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="{{'confirm.password' | translate}}" ng-model="password.confirm">
            </label>
        </div>
        <div class="padding" style="text-align:center;">
            <button class="btn-primary" ng-click="changePassword()"> {{"update"|translate}} <ion-spinner icon="spiral" ng-show="loading"></ion-spinner></button> &nbsp;
            <a ng-click="cancel()" class="cancel-btn">{{"cancel"|translate |uppercase}}</a>
        </div>
    </ion-content>
</ion-view>